<!DOCTYPE html>
<html>
<head>
</head>

<body background="assets/backgrouds/Code.jpg">
  <div class="alert alert-dark" role="article"><div  class="container-md" ><H1>¿Que es Programación?</H1>
    <svg class="bi bi-heart-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
    </svg>
  </div></div>
  <div class="container-md" ><h4 style="color:white;">Te doy la bienvenida a mi foro, en el cual hablare de programación!!</h4></div>
  <div  class="container-md" ><p style="color:white;">En informática, se conoce como lenguaje de programación a un programa destinado a la construcción de otros programas informáticos. Su nombre se debe a que comprende un lenguaje formal que está diseñado para organizar algoritmos y procesos lógicos que serán luego llevados a cabo por un ordenador o sistema informático, permitiendo controlar así su comportamiento físico, lógico y su comunicación con el usuario humano.
    Dicho lenguaje está compuesto por símbolos y reglas sintácticas y semánticas, expresadas en forma de instrucciones y relaciones lógicas, mediante las cuales se construye el código fuente de una aplicación o pieza de software determinado. Así, puede llamarse también lenguaje de programación al resultado final de estos procesos creativos.</p></div><br>

<div class="container-md"><p style="color:white;">La implementación de lenguajes de programación permite el trabajo conjunto y coordinado, a través de un conjunto afín y finito de instrucciones posibles, de diversos programadores o arquitectos de software, para lo cual estos lenguajes imitan, al menos formalmente, la lógica de los lenguajes humanos o naturales.</p></div>

<div class="container-md"><p style="color:white;">No deben confundirse, sin embargo, con los distintos tipos de lenguaje informático. Estos últimos representan una categoría mucho más amplia, en donde están contenidos los lenguajes de programación y muchos otros protocolos informáticos, como el HTML de las páginas web.</p></div>

<br>

<br>
<br>
<br>
<br>
</body>

</html>
