<!DOCTYPE html>
<html>
<head>
<title>Lenguajes de programacion</title>
</head>

<body background="assets/backgrouds/backleng.jpg">
    <div class="alert alert-dark" role="article"><div  class="container-md" ><h4>Te doy un Top de los 10 Lenguajes de Programación mas usados de la actualidad</h4></div></div>
    <div style="color: white">
        <div class="container-md"> <p>Los lenguajes de programación y el código son como los colores, cada programador tiene sus gustos respecto a cuales son mejores o peores, pero existen <strong>algunos que son más utilizados que otros</strong>.</p>
            <h4>10. Go</h4>
            <p>Go es un desarrollo de Google inspirado en C y Algol que apareció en 2009, y que además de usarse en varios de los sistemas de producción de Google, está abierto a que cualquiera juegue con el.</p>
            <h4>9. C</h4>
            <p>C lleva la friolera de 44 años con nosotros, y se ha convertido a la fuerza en uno de los lenguajes de programación más utilizados de todos los tiempos, influyendo a decenas de lenguajes posteriores.</p>
            <h4>8. C#</h4>
            <p>C# es una de los lenguajes influenciados por C, y fue desarrollado por Microsoft hace 16 años buscando arreglar los fallos del resto de lenguajes.</p>
            <h4>7. CSS</h4>
            <p>CSS no es un lenguaje de programación como tal, sino que se trata de un lenguaje usado para determinar cómo se muestra un documento escrito en un lenguaje de marcado. Es conocido por ser una de las piedras angulares de la web, junto al HTML y JavaScript.</p>
            <h4>6. C++</h4>
            <p>Volvemos 33 años atrás en el tiempo con C++, un lenguaje hecho para escribir sistemas enormes. Los sistemas operativos que utilizamos, todos los juegos de Blizzard, Unreal Engine, Unity, la mayoría de programas de productividad…</p>
            <h4>5. PHP</h4>
            <p>Como ocurre con CSS, PHP no es un lenguaje de programación al uso, sino que es un lenguaje destinado a&nbsp;servidores, y fue diseñado en 1995 con el principio de desarrollar páginas web con contenido dinámico.</p>
            <h4>4. Ruby</h4>
            <p>Ruby, que no confundir con Ruby on Rails, tiene 21 años a sus espaldas y se ha ganado a muchos programadores gracias a la sencillez que lo caracteriza.</p>
            <h4>3. Python</h4>
            <p>Python, un lenguaje que hizo su primera aparición en 1991, se cuela en el podio con la tercera posición gracias a ser un lenguaje fácil de leer, y a que es uno de los más recomendados para empezar en la programación.</p>
            <h4>2. Java</h4>
            <p>Java, ese lenguaje tan amado como odiado por los desarrolladores, lleva 21 años con nosotros y nos lo podemos encontrar en cualquier parte.</p>
            <h4>1. JavaScript</h4>
            <p>El honor de ser el ‘lenguaje de programación’ más utilizado le corresponde a un lenguaje que no podemos compilar, JavaScript. Lleva desde 1995 con nosotros (lo mismo que Java, aunque no tengan nada que ver), y sólo tenemos que escribir el código y adjuntarlo al HTML.</p>
    </div>
    </div>
    </body>

</html>